*{
	margin: 0;
	padding: 0;
	border: 0px;
}
body{
    line-height: 1.4;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
    position: initial !important;
}
#happy-babies{
	border: 10px solid #93c3c4;
	position: relative;
	right: 0;
	display: inline-block;
	width: 100%;
	overflow-x: hidden;
}
.top-bar{
	background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
}
.top-bar-content{
	display: flex;
	align-items: center;
}
.top-bar-content .top-bar-left{
	width: 100%;
	float: left;
}
.top-bar-content .top-bar-left a{
	color: #333;
}
.top-bar-content .top-bar-mid{
	display: none;
}
.top-bar-content .top-bar-right{
	width: 100%;
}
.top-bar-content .top-bar-right a{
	width: 100%;
	color: #333;
}
.top-bar-icon2 {
	float: right;
}
.top-bar-content a:hover{
	text-decoration: none;
}
.top-bar-content a span:hover{
	color: #93c3c4;
}
.top-bar2{
	display: none;
}
/* ------------------------------- */

.logo-header {
    text-align: center;
    padding: 0px 0px 10px;
}

.wrap-logo {
    text-align: center;
}
.logo-header .wrap-logo a{
	display: block;
    font-size: 32px;
    font-weight: bold;
    color: #93c3c4;
}
.logo-header .wrap-logo a img{
	margin: auto;
    width: 300px;
    height: auto;
}
/* ------------------- */
.fix{
	position: fixed !important;
	z-index: 10000;
	top: 0px;
    right: 119px;
    left: 119px;
    background: white;
}
.menu-header{
	position: relative;
	display: flex;
	justify-content: center;
}
#nav {
    position: relative;
    text-align: center;
    font-size: 13px;
    height: 100%;
}
#nav .main-nav ul {
    padding-left: 0;
    margin: 0;
}
#nav .main-nav>ul>li {
    display: inline-block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .main-nav > ul>li>a {
	text-decoration: none;
    position: relative;
    z-index: 2;
    display: block;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
}
#nav .main-nav ul li a:hover{
    text-decoration: none;
    color: #93c3c4;
}
/* ----- */
.menutable{
    position: absolute;
    display: none;
    z-index: 1000;
}
.menutable ul li{
    border: 1px solid #93c3c4;
    border-left: white;
    border-right: white;
    background: white;
    padding: 10px !important;
    color: #333;
}
.menutable ul li a{
    color: #333;
}
.menutable ul li:nth-of-type(1){
    border-top: 2px solid #93c3c4;
}
#nav .main-nav ul li:hover >div.menutable{
    display: block;

}

#nav .menutable ul.menu2 div.menutable{
    position: absolute;
    z-index: 10;
}
#nav .menutable ul.menu2 li{
    display:block;
    height: 100%;
    padding: 0;
    z-index: 5;
}


/* --------------------------- */
.search-mobile{
	display: none;
}



@media only screen and (max-width: 992px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
			.fix3{
		position: fixed !important;
		z-index: 10000;
		top: 0px;
	    right: 0px;
	    left: 0px;
	    background: white;
	    border-bottom: 2px solid #93c3c4;
	}
/* ---------------------------------------------------------------- */

	#navigation{
		width: 100%;
		z-index: 10000;
		padding-right: 11px;
	}

	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 0px;
	  float: right;
	  z-index: 1;
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle a
	{
	  text-decoration: none;
	  color: #232323;
	  
	  transition: color 0.3s ease;
	}

	#menuToggle a:hover
	{
	  color: tomato;
	}


	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0;
	  z-index: 2; 
	  
	  -webkit-touch-callout: none;
	}
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #cdcdcd;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}
	#menu
	{
		height: 130vh;
	  position: absolute;
	  width: 500px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  
	  background: white;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  
	  transform-origin: 0% 0%;
	  transform: translate(100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}
	#menuToggle input:checked ~ ul
	{
	  transform: translate(-200px, 10px);
	}

/* --------------------------------------------------------------- */
	.top-bar{
		display: none;
	}
	.top-bar2{
		display: block;
	}
	.top-bar2{
		background-color: #fff;
	    color: #000;
	    font-size: 12px;
	    padding: 10px 0;
	    width: 100%;
	}
	.top-bar2 .top-bar-right{
		display: none;
	}
	.top-bar-content2{
		display: flex;
		align-items: center;
	}
	.top-bar-content2 .top-bar-left{
		width: 100%;
		float: left;
		padding-left: 12px;
	}
	.top-bar-content2 .top-bar-left a{
		color: #333;
	}
	.top-bar-content2 .top-bar-right{
		width: 100%;
		padding-right: 12px;
	}
	.top-bar-content2 .top-bar-right a{
		width: 100%;
		color: #333;
	}
	.top-bar-icon2 {
		float: right;
	}
	.top-bar-content2 a:hover{
		text-decoration: none;
	}
	.top-bar-content2 a span:hover{
		color: #93c3c4;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content2 .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content2 .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content2 .top-bar-right a span{
		display: none;
	}
	.top-bar-content2 .top-bar-left a span{
		display: none;
	}
	/* ------------------------------------------------------------- */
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 768px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 576px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}
}

/* ----------------------------------end header----------------- */
.col-lg-6.col-md-12.col-sm-12.col-xs-12.wrapbox-content {
    padding: 50px 15px 50px 50px;
}
div#collection .site-animation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 30px;
}
div.site-animation a{
	text-decoration: none;
	color: #44709d;
}
.line{
    background: #44709d;
    width: 60px;
    height: 4px;
    margin-top: 30px;
}
.box-info-contact {
    margin-top: 30px;
}
.form-contact {
    padding-top: 30px;
}
.col-lg-12.col-md-12.col-xs-12.col-sm-12.input-group1 {
    padding-bottom: 20px;
}

.col-lg-6.col-md-12.col-xs-12.col-sm-12.input-group2 {
    padding-bottom: 20px;
}

.col-lg-6.col-md-12.col-xs-12.col-sm-12.input-group3 {
    padding-bottom: 20px;
}
.box-send-contact button {
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 60px;
}
.button {
    display: inline-block;
    background: #44709d;
    color: #fff;
    border: 2px solid #44709d;
    width: auto;
    font-size: 0.95em;
    vertical-align: middle;
    transition: opacity 200ms,background-color 150ms,border-color 150ms;
}
button.button.dark2 {
    margin-top: 20px;
}
.col-lg-6.col-md-12.col-sm-12.col-xs-12.box-heading-contact {
    top: 0;
    border-right: 1px solid #ededed;
    height: 100vh;
    padding: 0;
}
iframe {
    height: 100vh !important;
    /* có nghĩ chiều cao bằng 100% */
}
@media only screen and (min-width: 992px){
	.col-lg-6.col-md-12.col-sm-12.col-xs-12.box-heading-contact{
 		position: sticky;
	}
}
@media only screen and (max-width: 992px){
	iframe{
		height: 50vh !important;
	}
	.col-lg-6.col-md-12.col-sm-12.col-xs-12.box-heading-contact {
		height: 50vh;
		border-bottom: 1px solid #ededed;
	}
	main {
	    margin-top: 20px;
	}
}

/* ------------------------------------- */
.main-footer {
    padding: 30px 0 0;
    background: #93c3c4;
    margin-top: 10px;
}
h4.footer-title {
    font-family: 'Quicksand', sans-serif!important;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 30px;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
}
.footer-content ul {
    margin-bottom: 15px;
}
.footer-content ul li {
    display: block;
    line-height: 28px;
    position: relative;
    padding-left: 0px;
}
.footer-content ul li a {
    position: relative;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.footer-content ul li a:hover{
	color:#2aa0a2;
}
.footer-index .footer-content p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 14px;
}
.footer-index .contact-form {
    position: relative;
}
.footer-index .contact-form .input-group {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.footer-index .contact-form .input-group input {
    height: 46px;
    border: 1px solid #efefef;
    border-radius: 60px;
    width: 100%;
    font-size: 13px;
    padding-left: 5px;
}
.footer-index .contact-form .input-group button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    height: 35px;
    background: #44709d;
    border: #44709d;
    color: white;
    border-radius: 20px;
}
.iframe iframe{
    max-width: 100%;
}
.footer-bottom{
	padding: 30px 0px;
	width: 100%;
}
.footer-bottom p {
    margin-bottom: 20px;
}
.footer-bottom a {
    color: #000000;
}
.social-list img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.social-list a{
	padding: 5px;
}
.social-list.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 768px){
	.footer-content.toggle-footer {
    	display: none;
	}
	.form_newsletter {
	    display: none;
	}

	.footer-content {
	    display: none;
	}

	.footer-block {
	}

	.iframe {
	    display: none;
	}
	h4.footer-title {
	    font-size: 14px;
	    padding: 0;
	    margin: 0px 0px 10px;
	}
}
.fix{
	position: fixed !important;
    z-index: 10000;
    top: 0px;
	border-bottom: 1px solid #93c3c4;
}
.fix2{
	position: fixed !important;
    z-index: 10000;
    width: 270px;
    top: 600px;
}
